description = "Reset Layout"

[resetPassword]
paramCode = "code"

[PterSnow\FrontendUser\Components\Account account]
redirect = "meus-artigos"
paramCode = "code"
forceSecure = 1
requirePassword = 0
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head/head-meta' %}
        <title>{{ this.page.meta_title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        {% partial 'head/head-links' %}
        {% partial 'head/head-scripts' %}
        {% partial 'head/analytics-code' %}
    </head>
    <body class="bg-body">

        <!-- Header -->
        {% partial 'header' %}

        {% partial 'flash-messages' %}
        <main class="d-flex px-3">
            <!-- Article main content -->
            <article class="w-100">
                {% page %}
            </article>
            <!-- /Article -->
        </main>

        <!-- Footer -->
        {% partial 'footer' %}

        <!-- Mobile -->
        {% partial 'nav-mobile' %}

    </body>
</html>