==
<header class="pb-2 my-4 border-bottom border-1 border-white">
    <p class="lead">
	    Enviamos o código de ativação para o seu email. Clique no link dentro dele ou copie e cole o código de ativação.
	</p>
</header>

<form
    data-request="resetPassword::onResetPassword"
    data-request-redirect="/"
    data-request-flash>
    <div class="form-group">
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="Código de Ativação" value="{{ resetPassword.code }}">
    </div>

    <div class="form-group">
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="Nova Senha">
    </div>

    <button type="submit" class="btn btn-default">Resetar senha</button>
</form>