==
<div class="footer py-3 px-4">
    <div class="d-flex flex-column">
        <ul class="list-unstyled">
            <li class="mt-2">
                {% if user %}
                    <a href="{{'publique'|page(false)}}">Enviar artigo - Certificado Digital 10h</a>
                {% else %}
                    <a href="{{'cadastro'|page(false)}}">Enviar artigo - Certificado Digital 10h</a>
                {% endif %} 
            </li>
            <li class="mt-2">
                <a href="{{'home'|page(false)}}">Início (Homepage)</a>
            </li>
            <li class="mt-2">
                <a href="{{ 'edicoes'|page(false) }}">Sitemap (Edições por mês e ano)</a>
            </li>
            <li class="mt-2">
                <a href="{{ 'contato'|page(false) }}">Entre em contato</a>
            </li>
        </ul>
    

        <div class="p-3 font-size-1 text-center">
            <p>&copy; 2006-{{ "now"|date("Y") }} Webartigos.com - Publicação de artigos online com certificado digital 10h.</p>
            <p>Os artigos enviados para esta revista online são apenas informativos e refletem a opinião de cada autor, portanto, podem não representar a opinião do idealizador deste projeto.</p>
            <p>Ao acessar qualquer conteúdo ou página do website www.webartigos.com você concorda com os nossos <a href="{{ 'privacidade'|page }}"><strong>Termos de Uso e Política de Privacidade</strong></a>.</p>
        </div>
    </div>
</div>

{% ajaxPartial 'modals/login-dialog' %}
{% ajaxPartial 'modals/signup-dialog' %}
{% ajaxPartial 'modals/forgot-dialog' %}