==
<div class=" dropdown">
    <a href="#" class="dropdown-toggle align-middle text-white" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ user.getAvatarThumb() }}" class="rounded-circle" alt="{{ user.name }}" width="40" height="40">
    </a>
    <ul class="bg-light dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="{{'perfil'|page}}"><i class="bi bi-person"></i> Meu perfil</a>
        </li>
        <li>
            <a class="dropdown-item" href="{{'meus-artigos'|page}}"><i class="bi bi-file-earmark"></i> Meus artigos</a>
        </li>
        <li>
            <a class="dropdown-item" href="#" data-request="onLogout" data-request-data="redirect: '/'"><i class="bi bi-toggle-off"></i> Sair</a>
        </li>
    </ul>
</div>